.mainArea {
    padding: 20px;
    /* display: grid;
    grid-template-columns: auto 450px 350px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: auto;
    align-content: center;
}

.transmitButton {
    border-radius: 100%;
    background: white;
    border: inset 4px rgb(107, 107, 107);
    width: 40px;
    height: 45px;

    &:hover {
        box-shadow: 0px 0px 10px rgb(255, 250, 205);
        border: none;
    }
}

/* @media screen and (max-width: 1470px) {
    .mainArea {
        padding: 20px;
        display: grid;
        grid-template-columns: 670px 450px;
        grid-template-rows: auto 600px;
        gap: 10px;
        width: 96%;
        height: 650px;
        align-content: center
    }
} */