article {
    width: 400px;
    height: 120px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    color: silver;
    place-items: center;
}

button {
    background-color: rgba(1, 1, 1, 0);

    img {
        width: 75px;
        height: 75px;

        &:hover {
            border: solid black 4px;
            border-radius: 100%;
        }
    }
}

.led {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
    box-shadow: red 0px 0px 10px;
}